#
# RapidIO configuration
#
source "drivers/rapidio/devices/Kconfig"

config RAPIDIO_DISC_TIMEOUT
	int "Discovery timeout duration (seconds)"
	depends on RAPIDIO
	default "30"
	---help---
	  Amount of time a discovery node waits for a host to complete
	  enumeration before giving up.

config RAPIDIO_ENABLE_RX_TX_PORTS
	bool "Enable RapidIO Input/Output Ports"
	depends on RAPIDIO
	---help---
	  The RapidIO specification describes a Output port transmit
	  enable and a Input port receive enable. The recommended state
	  for Input ports and Output ports should be disabled. When
	  this switch is set the RapidIO subsystem will enable all
	  ports for Input/Output direction to allow other traffic
	  than Maintenance transfers.

config RAPIDIO_DIO_DMA
       bool "Use DMA for direct I/O access"
       depends on RAPIDIO
       default n
       select DMA_ENGINE
       ---help---
         Say Y here if you want the RapidIO driver to use DMA for direct I/O
	 data transfers.

config RAPIDIO_ACCESS_ERR_LIMIT
       int "Number of device access errors accepted during net configuration, before giving up."
       depends on RAPIDIO
       default 0
       ---help---
         RIO net setup will be aborted if the core driver discovers that
	 contact is lost to devices, which has previously been probed, during
	 final LUT setup phase.
	 Failed SRIO access attempts may result in machine check errors:
	 Depending on SRIO port controller, the SRIO driver may have the
	 ability to recover from such faults. If your port controller supports
	 MC recovery for SRIO access errors you may chose to tolerate a certain
	 number of faults.
	 MC fault recovery, however, take some time and the user is advised
	 not to set this value to high.

config RAPIDIO_DYNAMIC_ROUTES
       bool "Use dynamic routing (Experimental)"
       depends on RAPIDIO
       default n
       ---help---
         Say Y here if you want the RapidIO driver to use dynamic routing and
	 calculate and adopt to the cheapest path between nodes.

config RAPIDIO_MULTICAST_PW
       bool "Port Write Multicast (Experimental)"
       depends on RAPIDIO
       default n
       ---help---
         Say Y here if you want the RapidIO driver to enable multicast of
	 prot write messages.

config RAPIDIO_HOTPLUG
       bool "Support for RAPIDIO Hotplug"
       depends on RAPIDIO && HOTPLUG && SYSFS
       default n
       ---help---
         This allows you to add and remove RIO devices while the machine is
         powered up and running.

         When in doubt, say N.

config RAPIDIO_STATIC_DESTID
       bool "Use static RIO device destID"
       depends on RAPIDIO
       default n
       ---help---
         The default enumeration mode in the rapidio driver is to assign destIDs
	 to RIO devices dynamically. If you say Y here, the rapidio driver allows
	 static or user defined numbering.

config RAPIDIO_ENUM_DOMAIN
       bool "Support multiple enumeration hosts in the RIO network (Experimental)"
       depends on RAPIDIO && RAPIDIO_HOTPLUG && RAPIDIO_STATIC_DESTID
       default n
       ---help---
         Support multiple enumeration hosts in the RIO network

config RAPIDIO_SECOND_DEST_ID
         hex "Add a second destination id to main RIO port"
         depends on RAPIDIO_HOTPLUG
         default "0xdc"
         ---help---
	   Add a second destination id that will be recognized by the main RIO
           port. Can for example be used to receive multicasts or equivalent
	   that has multiple recipients.

config RAPIDIO_PW_MULTICAST_MASK_ID
       int "Multicast mask id to use for multicast port writes in switches"
       depends on RAPIDIO_HOTPLUG
       default "1"
       ---help---
	 When using domains we need to multicast all port writes to all
	 domains. For this we need to set up a multicast mask dedicated for
	 this on all switches. This is the number for that mask.

config RAPIDIO_DEBUG
	bool "RapidIO subsystem debug messages"
	depends on RAPIDIO
	help
	  Say Y here if you want the RapidIO subsystem to produce a bunch of
	  debug messages to the system log. Select this if you are having a
	  problem with the RapidIO subsystem and want to see more of what is
	  going on.

	  If you are unsure about this, say N here.

source "drivers/rapidio/switches/Kconfig"
